body {
    margin: 0;
    background-color: rgb(180, 244, 223);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

links {
    text-align: center;
}

.main-game {
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.genius {
    display: grid;
    grid-template-areas: 'green red'
    'yellow blue';
    grid-gap: 10px;
    border: 5px solid black;
    background-color: black;
    border-radius: 100%;
    margin-top: 10%;
    width: 700px;
    height: 700px;
}

.green {
    grid-area: green;
    background-color: green;
    border-top-left-radius: 100%;
}

.red {
    grid-area: red;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: yellow;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.blue {
    grid-area: blue;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.selected {
    opacity: 0.5;
}